
# this is gitignore file for dslibs

# ignore vi editor swap files
*.swp

#ignore ctags files
tags

# ignore cmake build directories
build
debug
release
Build
Debug
Release

# ignore gcc output file
a.out

# ignore cmake output directories
bin
lib
